#home {
  padding-top: 100px;
  #home-slider {
    .carousel-control {
      background: none;
      width: 5%;
      opacity: 1;
    }
    .carousel-caption {
      position: absolute;
      right: 10%;
      top: 70px;
      text-align: right;
      p {
        text-transform: uppercase;
        color: $white;
        font-size: 25px;
        letter-spacing: 12px;
      }
      h1 {
        letter-spacing: -1px;
        color: $white;
      }
    }
  }
}
.section {
  padding: 50px 0 70px;
  background: $white;
}
.border-right {
  border-right: 1px solid $gray;
}

#about_us {
  position: relative;
  .img-container {
    position: absolute;
    right: 0px;
    top: 10px;
    text-align: right;
    z-index: 1;
    img {
      width: 100%;
    }
  }
}

#levels {
  .section-head {
    h1, small {
      color: $white;
    }
    padding-top: 70px;
    background: url('../images/bg-levels.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .page-title {
    margin-bottom: 60px;
  }
  .level {
    color: $gray-light;
    a {
      color: $gray-light;
      @extend .uppercase;
      &:hover, &:focus, &:active {
        text-decoration: none;
        color: $gray;
      }
      i {
        font-size: 10px;
        margin-left: 3px;
      }
    }
    .wrapper {
      margin: 0px auto;
      max-width: 250px;
      padding: 30px 0;
    }
    &:hover {
      background: lighten($gray-light, 37%);
      cursor: pointer;
    }
  }
  .levels-replace {
    position: relative;
  }
  .more-info {
    border-top: 1px solid $gray-light;
    display: none;
    background: $white;
    z-index: 1; // 1 above navbar
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    .close-more {
      font-size: 32px;
      position: absolute;
      right: 0;
      top: 15px;
      color: $gray;
    }
  }
  #levels-slider {
    .item {
      padding-top: 150px;
    }
    img {
      margin: 0px auto;
      max-width: 900px;
    }
    .carousel-control {
      background: none;
      text-shadow: none;
      margin-top: 150px;
      width: 10%;
      span {
        color: $black;
      }
    }
  }
}

#areas {
  .section-head {
    padding-bottom: 0;
    background: url('../images/bg-zonas.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: $white;
    h1, small {
      color: $white;
    }
    hr {
      margin: 25px 0;
    }
    .areas-types h3, a {
      color: $gray-dark;
    }
    a:hover, a:focus, a:active, a.active {
      color: $red;
      text-decoration: none;
    }
  }
  .area-content {
    .area-replace-content {
      min-height: 42px;
      color: $black;
      span {
        display: none;
      }
    }
  }
  h3 {
    color: #fff;
  }
  .areas-types > div {
    &:first-child {
      border-right: 2px dotted $white;
    }
    &:last-child {
      padding-left: 60px;
    }
  }
  .areas-car {
    margin-top: 30px;
    .car-container {
      position: relative;
      display: inline-block;
      max-width: 850px;
      .vidrios-logo {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        background: #eee;
        overflow: hidden;
        img {
          padding-top: 17px;
          width: 103px;
        }
      }
      img {
        width: 100%;
      }
      svg {
        position: absolute;
        top: 11px;
        left: 11px;
        width: 765px;
        opacity: 1;
      }
      svg > g {
        opacity: .0;
      }
      span {
        display: inline-block;
        background: $white;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
        z-index: 3;
        box-shadow: 0 0 5px rgba(0,0,0, .3);
        &#techo {
          top: 10px; right: 300px;
        }
        &#coronas {
              top: 25px; right: 208px;
        }
        &#postes {
          top: 75px; right: 367px;
        }
        &#puertas {
          top: 160px; right: 355px;
        }
        &#costados {
          top: 125px; right: 150px;
        }
        &#quinta-puerta {
          top: 75px; right: 30px;
        }
        &#conchas {
          top: 150px; right: 190px;
        }
        &#contra-chapas {
          top: 125px; right: 400px;
        }
        &#faros-traseros {
          top: 120px; right: 20px;
        }
        &#piso {
          top: 230px; right: 450px;
        }
        &#pared-de-fuego {
          top: 140px; right: 555px;
        }
        &#retrovisor {
          top: 90px; right: 505px;
        }
        &#parabrisas {
          top: 70px; right: 540px;
        }
        &#medallon {
          top: 40px; right: 55px;
        }
        &#puertas-delanteras {
          top: 65px; right: 435px;
        }
        &#puertas-traseras {
          top: 65px; right: 300px;
        }
        &#costados-traseros {
          top: 60px; right: 105px;
        }
      }
    }
  }
  .areas-car-info {
    margin-top: -140px;
    padding-bottom: 60px;
    padding-top: 160px;
    background: $white;
    color: $gray;
    font-weight: bold;
    text-align: left;
  }
}
#contacto {
  position: relative;
  background: $white;
  #googlemaps {
    height: 600px;
  }
  strong {
    color: $white;
  }
  .contact-content {
    padding: 90px 30px 30px;
    position: absolute;
    right: 0;
    top: 0px;
    width: 400px;
    background: rgba($blue, .9);
    color: $white;
    height: 600px;
    h1, h3 {
      color: $white;
    }
    .wpcf7-form {
      font-weight: bold;
      font-size: 12px;
      input, textarea {
        width: 100%;
        border: 0;
        margin-top: 5px;
        height: 34px;
        padding: 6px 12px;
        color: $gray-dark;
      }
      textarea {
        height: 70px;
      }
      .wpcf7-submit {
        @extend .uppercase;
        float: right;
        width: auto;
        background: $red;
        color: $white;
      }
      .wpcf7-response-output {
        padding: 15px;
        text-align: center;
        margin-top: 30px;
        font-size: 16px;
        margin: 40px 0 0 0;
      }
    }
  }
}
