#home {
  padding-top: 100px;
  #home-slider {
    .carousel-control {
      background: none;
      width: 5%;
      opacity: 1;
    }
    .carousel-caption {
      position: absolute;
      right: 10%;
      top: 70px;
      text-align: right;
      p {
        text-transform: uppercase;
        color: $white;
        font-size: 25px;
        letter-spacing: 12px;
      }
      h1 {
        letter-spacing: -1px;
        color: $white;
      }
    }
  }
}
.section {
  padding: 80px 0 100px;
  background: $white;
}
.border-right {
  border-right: 1px solid $gray;
}

#about_us {
  position: relative;
  overflow: hidden;
  .img-container {
    position: absolute;
    right: -100px;
    top: 60px;
    text-align: right;
    img {
      width: 100%;
    }
  }
}

#levels {
  position: relative;
  .section-head {
    h1, small {
      color: $white;
    }
    padding-top: 150px;
    background: url('../images/bg-levels.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .page-title {
    margin-bottom: 60px;
  }
  .level {
    color: $gray-light;
    a {
      color: $gray-light;
      @extend .uppercase;
      &:hover, &:focus, &:active {
        text-decoration: none;
        color: $gray;
      }
      i {
        font-size: 10px;
        margin-left: 3px;
      }
    }
    .wrapper {
      margin: 0px auto;
      max-width: 250px;
      padding: 30px 0;
    }
    &:hover {
      background: lighten($gray-light, 37%);
      cursor: pointer;
    }
  }
  .more-info {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: $black;
    color: #fff;
    text-align: center;
    padding-top: 200px;
    z-index: 1031; // 1 above navbar
    .close-more {
      font-size: 32px;
      position: absolute;
      right: 10%;
      top: 5%;
      color: #fff;
    }
  }
}

#areas {
  .section-head {
    .page-title {
      margin-bottom: 60px;
    }
    padding-top: 160px;
    background: url('../images/bg-zonas.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: $white;
    h1, small, a {
      color: $white;
    }
    a:hover, a:focus, a:active {
      color: $red;
      text-decoration: none;
    }
  }
  .box {
    background: $red;
    width: 40px;
    height: 40px;
    display: block;
    &:after {
      content: ' ';
      width: 36px;
      height: 36px;
      background: $red;
      border: 2px solid $white;
      position: absolute;
      display: block;
      margin-left: 2px;
      margin-top: 2px;
    }
  }
  .area-content {
    border-left: 1px solid $gray-light;
    padding-left: 60px;
  }
}
#contacto {
  position: relative;
  #googlemaps {
    height: 700px;
  }
  .contact-content {
    padding: 30px;
    position: absolute;
    top: 100px;
    width: 450px;
    right: 0;
    bottom: 0;
    background: rgba($blue, .9);
    color: $white;
    h1, h3 {
      color: $white;
    }
    .wpcf7-form {
      font-weight: bold;
      font-size: 12px;
      input, textarea {
        width: 100%;
        border: 0;
        margin-top: 5px;
        height: 34px;
        padding: 6px 12px;
        color: $gray-dark;
      }
      textarea {
        height: 70px;
      }
      .wpcf7-submit {
        @extend .uppercase;
        float: right;
        width: auto;
        background: $red;
        color: $white;
      }
    }
  }
}
