body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  font-weight: 100;
  color: $gray;
  background: $black;
}
.uppercase {
  text-transform: uppercase;
  font-weight: bold;
}
h1,h2,h3,h4,h5,h6 {
  @extend .uppercase;
  color: $blue-dark;
  small {
    display: block;
    color: $blue-dark;
    font-size: .5em;
    font-weight: 100;
  }
}
h1 {
  font-size: 70px;
}
.unmargin {
  margin: 0!important;
}
.unmargin-top {
  margin-top: 0!important;
}
