// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #2E3192;
$blue:            #2E3192;
$blue-dark:       #0f1136;
$black:           #191d2c;
$red:             #B90624;
$gray:            #808080;
$gray-light:      #999;
$gray-dark:       #4A4A4A;
$white:           #fff;
