// Small Desktop

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  #about_us .img-container img {
    max-width: 550px;
    margin-top: 50px;
  }
}

// Desktop and tablets

@media (min-width: $screen-xs-max) {
  .collapse {
    display: block;
    height: auto;
  }
  .col-xs-offset-3.level {
    margin-left: 0!important;
  }
  #header {
    ul li {
      &.active a {
        background: $red;
        &:hover, &:focus, &:active {
          background: $red;
        }
      }
      a {
        color: $white;
        font-weight: bold;
        text-transform: uppercase;
        font-weight: bold;
        padding: 40px;
        &:hover, &:focus, &:active {
          background: rgba($blue, .2);
        }
      }
    }
    &.small-header {
      
      a {
        padding: 20px 30px;
        font-size: 1em;
        img {
          height: 50px;
          width: auto;
        }
      }
      .navbar-brand {
        padding: 5px 10px;
      }
    }
  }
}
